body{
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(5px);
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    background: linear-gradient(rgba(53, 26, 57, 0.479),rgba(0, 0, 0, 0.479));
}

.navigation h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}

.navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    color: white;
}

.navigation a {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-style: unset;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #c26dd9; /* Cambia el color en hover */
}

.navigation a:active {
    color: #920275; /* Color cuando está activo */
}

/* Sections */
h2{
    text-align: center;
    font-family: 'Verdana';
    font-size: 20px;
    color: #26042f;
}
/* Section live */
.live-section {
    padding: 20px;
    background-color: #fffdfd25;
}

.live-section h2 {
    text-align: center;
    color: rgb(204, 8, 8);
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.video-grid iframe {
    width: 100%;
    height: 200px; 
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .video-grid {
        grid-template-columns: 1fr; }
}
/* Section Noticias */
.noticias {
    padding: 20px;
    background-color: #ffffff0d;
}

.noticias h2 {
    text-align: center;
    color: rgb(43, 0, 42);
    margin-bottom: 20px;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas para un diseño atractivo */
    gap: 10px;
}

.noticia-item {
    background-color: rgb(254, 250, 252);
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.noticia-item img {
    width: 90%;
    height: auto;
}

.noticia-item p {
    padding: 6px;
    color: #333;
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
    .noticias-grid {
        grid-template-columns: 1fr; 
    }
}

/*Section de seguidos */
.seguidos-section {
    padding: 20px;
    background-color: #f8f9fa27;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seguidos-section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.seguidos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.seg-item {
    background-color: #f0adf89a;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.unfollow-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.unfollow-btn:hover {
    background-color: #5c5253;
}

